<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>WeChat - Chat App</title>
    <link rel='icon' type='image/png' href='../uploads/chat-app-icon.png' />
    <script
      defer
      src='https://chat-app-production-8b7b.up.railway.app/socket.io/socket.io.js'
    ></script>
    <script defer src='../javascript/client.js'></script>
    <link rel='stylesheet' href='../css/chat.css' />
  </head>

  <body>
    <div class='chat-container'>
      <div class='chat-header'>
        <a
          href='https://chat-app-production-8b7b.up.railway.app/'
          class='header-anchor'
        >
          <div class='image-logo'>
            <img src='uploads/chat-app-icon.png' alt='' class='logo' />
            <h1 class='logo-text'>WeChat</h1>
          </div>
        </a>
        <div class='header-user'>
          <h4 class='header-username'>Zain Tanveer</h4>
          <img src='uploads/zain.jpg' alt='' class='logo' />
        </div>
      </div>
      <div class='message-container'>
        <div class='message bot-message'>
          <img
            src='uploads/chat-app-icon.png'
            alt='Bot Avatar'
            class='avatar'
          />
          <div class='text'>
            <div class='sender-name'>Bot</div>
            Hello, how can I assist you today?
          </div>
        </div>
        <div class='message user-message'>
          <img
            src='uploads/chat-app-icon.png'
            alt='User Avatar'
            class='avatar'
          />
          <div class='text'>
            <div class='sender-name'>User</div>
            I need help with my account.
          </div>
        </div>
      </div>
      <form action='#' id='send-container'>
        <div class='input-container' id='send-container'>
          <input
            type='text'
            id='message-input'
            name='message-input'
            placeholder='Type your message'
          />
          <input type='submit' id='send-button' value='Send' />
        </div>
      </form>
    </div>
  </body>

</html>