body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: transparent; /* Set the background color of the scrollbar track */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Set the background color of the scrollbar thumb */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Set the background color of the scrollbar thumb on hover */
}



.content-container{
  flex-grow: 1;
}

.logo {
  width: 6rem;
  height: 6rem;
  padding-right: 0px !important;
}

.logo-text {
font-size: 2.5rem;
font-family: cursive;
color: #168463;
padding-left: 0px !important;
font-weight: bold;
}

.alert-container {
position: relative;
}

.alertContainerDiv {
position: absolute;
top: 10px;
right: 10px;
}


.body-container{
  /* z-index: 200; */
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.inbox-container{
  position: relative;
  display: flex;
  flex-direction: column;
  /* z-index: 101; */
  /* overflow: visible; */
}

.chat-container {
  /* max-width: 955px;
  margin: 50px auto; */
  display: flex;
  flex-direction: column;
  transform-origin: left top;
  background-color: #fff;
  width: -webkit-fill-available;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-message-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: -webkit-fill-available;
  overflow: hidden;
}

.chat-header {
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.header-anchor {
  text-decoration: none;
}

.header-user {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 7px;
}

.header-user-click {
  box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.16),
    0 10px 20px -2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.header-user img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.header-username {
  font-family: cursive;
  margin-right: 8px;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 1rem;
}

.image-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 6rem;
  height: 6rem;
}

.logo-text {
  font-size: 2.5rem;
  font-family: cursive;
  color: #168463;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.message-container {
  padding: 10px;
  overflow-y: auto;
  max-height: 410px;
}

.message-container::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

.message-container::-webkit-scrollbar-track {
  background-color: transparent; /* Set the background color of the scrollbar track */
}

.message-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Set the background color of the scrollbar thumb */
}

.message-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Set the background color of the scrollbar thumb on hover */
}


.message {
  margin-bottom: 10px;
  display: flex;
  /* align-items: center; */
}

.first-message-left::before {
  content: "";
  width: 0px;
  height: 0px;
  display: block;
  border-left: 16px solid transparent;
  border-right: 14px solid #f1f1f1;
  border-top: 12px solid #f1f1f1;
  border-bottom:0px solid transparent;
  position: absolute;
  top: 0px;
  left: -12px;
}

.first-message-right::before {
  content: "";
  width: 0px;
  height: 0px;
  display: block;
  border-right: 16px solid transparent;
  border-left: 14px solid #dcf8c6;
  border-top: 12px solid #dcf8c6;
  border-bottom: 0px solid transparent;
  position: absolute;
  top: 0px;
  right: -12px;
}

.message .avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-message .avatar {
  margin-left: 10px;
}

.message .text {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  max-width: 40%;
  color: black;
  position: relative;
}

.user-message .text {
  background-color: #dcf8c6 !important;
}

.user-message {
  flex-direction: row-reverse;
}

.bot-message {
  flex-direction: row;
}

.join-left-message {
  justify-content: center;
}

.join-left-message .text {
  font-weight: 600;
  border: solid 2px #433d3d;
}

.sender-name {
  font-weight: bold;
  color: black;
  /* margin-bottom: 5px; */
}

.input-container {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
}

.input-container input[type='text'] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.input-container input[type='submit'] {
  padding: 5px 10px;
  background-color: #168463;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 60px;
  height: 33px;
}

.nav-tabs .nav-link.active {
  color: #168463;
  border-color: #168463;
  background-color: white;
}


.inbox-user-container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  background-color: white;
  border-bottom: solid 0.05rem rgb(137, 137, 137);
}

.inbox-user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.inbox-user-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inbox-user-name {
  margin: 0;
  font-weight: bold;
  font-size: calc(1rem + .3vw);
  color: #3b3b38;
}

.inbox-user-message {
  margin: 0;
      font-size: .95rem;
}

.chat-user-container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  background-color: white;
  border-bottom: solid 0.05rem rgb(137, 137, 137);
}

.chat-user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat-user-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: start;
  margin-left: 12px;
}

.chat-user-name {
  margin: 0;
  font-weight: bold;
  font-size: calc(1rem + .3vw);
  color: #171e1c;
}

.chat-user-message {
  margin: 0;
      font-size: .95rem;
}

.dropdown a{
  color: black;
}


@media only screen and (min-width: 1300px){
  .inbox-container{
    flex: 0 0 30%;
    max-width: 30%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1300px){
  .inbox-container{
    flex: 0 0 40%;
    max-width: 40%;
  }
}

@media only screen  and (min-width: 900px) and (max-width: 1024px){
  .inbox-container{
    flex: 0 0 40%;
    max-width: 40%;
  }
}

@media only screen and (max-width: 900px){
  .inbox-container{
    flex: 0 0 45%;
    max-width: 45%;
  }
}

@media only screen and (max-width: 991px) {
  .dropdown-menu {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  /* .chat-container {
    width: 100%;
    margin: 20px auto;
  } */

  /* .message-container {
    max-height: 300px;
  } */

  .message .text {
    max-width: 60vw;
  }
}

@media only screen and (max-width: 460px) {
  .message .text {
    max-width: 80%;
  }
}

@media only screen and (max-width: 350px) {
  .logo-text {
    font-size: 2.3rem;
  }
}


@media only screen and (max-width: 1056px) {
  .alertContainerDiv {
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 14px;
    border-radius: 0px;
  }
  
  .alert-dismissible .btn-close{
    padding: 19px;
  }
  
  .logo-text{
    font-size: 2.3rem;
  }
  }
  
  @media only screen and (max-width: 350px) {
  .logo-text{
    font-size: 2.3rem;
  }
  }